/*home*/

.home {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: beige;
  height: 600px;
}

.home h1 {
  font-size: 50px;
  padding: 0.1em 1em;
}

.homeBtn {
  background-color: var(--white);
  border: 0;
  font-family: var(--texto);
  font-weight: bold;
  height: 60px;
  max-width: 400px;
  border-radius: 50px;
  font-size: 18px;
  padding: 1em 3em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.homeBtn:hover {
  cursor: pointer;
  background-color: #d9d9d9;
}

/*Nosotros*/
.nosotros {
  display: flex;
  flex-direction: column;
  padding: 2em;
  background-color: var(--dark-blue);
  color: var(--white);
}

.nosotrosCopy h1 {
  font-size: 50px;
}
.nosotrosCopy h2 {
  font-family: var(--titulos);
  font-weight: 300;
  font-size: 30px;
}
.nosotrosCopy span {
  color: var(--medium-green);
}

.nosotrosCopy p {
  font-size: 20px;
  font-family: var(--sub-titulos);
}

.nosotrosImagenes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 1em;
}

.nosotrosImagen {
  background-color: var(--white);
  width: 300px;
  height: 300px;
}

/*Proyecto*/

.proyecto {
  display: flex;
  padding: 2em;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--main-green);
  gap: 2em;
}

.proyectoProductivo,
.proyectoMaquillaje {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.proyectoProductivo h1 {
  font-size: 60px;
  text-align: center;
}

.proyectoCard {
  background-color: var(--white);
  padding: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  min-width: 250px;
}

.proyectoCardText {
  margin: 1em;
  line-height: 3.2em;
  padding: 1em;
}

.proyectoCardText h2 {
  font-size: 34px;
}

.verProductosBtn {
  background-color: var(--dark-blue);
  color: var(--white);
  font-family: var(--texto);
  font-weight: bold;
  height: 60px;
  max-width: 400px;
  border-radius: 50px;
  font-size: 18px;
  padding: 1em 2em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border: 0;
  margin-left: 7em;
}

.verProductosBtn:hover {
  cursor: pointer;
  background-color: var(--blue);
}

.proyectoCardImage {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.proyectoImagen {
  width: 200px;
  height: 200px;
  background-color: red;
  margin: 1em;
}

.infoBtn {
  background-color: var(--white);
  color: #00bb2d;
  font-family: var(--texto);
  font-weight: bold;
  height: 60px;
  max-width: 400px;
  border-radius: 50px;
  font-size: 18px;
  padding: 1em 2em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border: 0;
  margin-left: 7em;
}

.infoBtn:hover {
  cursor: pointer;
  background-color: #d9d9d9;
}

.proyectoMaquillajeImage {
  background-color: red;
  min-height: 300px;
  width: 500px;
}


@media screen and (max-width: 600px) {
  .proyectoCard {
    max-width: 300px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .proyectoCardImage, .proyectoMaquillajeImage {
    display:none;
  }

  h1{
    font-size: 40px;

  }

  p{
    font-size: 16px;
    
  }


  
  
}

/*Capacitacion*/

.capacitacion {
  display: flex;
  padding: 2em;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--dark-blue);
  gap: 2em;
}

.capacitacionText h1 {
  font-size: 70px;
}

.capacitacionText {
  margin: 0 4em;
  color: var(--white);
  text-align: center;
  line-height: 1.2em;
  font-size: 26px;
}

.capacitacionImages {
  display: flex;
  flex-wrap: wrap;
  gap: 4em;
  justify-content: center;
  align-items: center;
}

.capacitacionImage {
  
  max-width: 500px;
  height: auto;
  border-radius: 50px;
}

/*Investigacion*/

.investigacion {
  display: flex;
  padding: 2em;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--main-green);
  gap: 2em;
}

.investigacionText h1 {
  font-size: 70px;
}

.investigacionText {
  color: black;
  line-height: 1.2em;
  font-size: 26px;
}
