/*home*/

.home {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: beige;
  height: 570px;
}

.home h1 {
  font-size: 50px;
  padding: 0.1em 1em;
}

.homeBtn {
  background-color: var(--white);
  border: 0;
  font-family: var(--texto);
  font-weight: bold;
  height: 60px;
  max-width: 400px;
  border-radius: 50px;
  font-size: 18px;
  padding: 1em 3em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.homeBtn:hover {
  cursor: pointer;
  background-color: #d9d9d9;
}

/*Nosotros*/
.nosotros {
  display: flex;
  flex-direction: column;
  padding: 2em;
  background-color: var(--dark-blue);
  color: var(--white);
}

.nosotrosCopy h1 {
  font-size: 50px;
}
.nosotrosCopy h2 {
  font-family: var(--titulos);
  font-weight: 300;
  font-size: 30px;
}
.nosotrosCopy span {
  color: var(--medium-green);
}

.nosotrosCopy p {
  font-size: 20px;
  font-family: var(--sub-titulos);
}

.nosotrosImagenes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 1em;
}

.nosotrosImagen {
  background-color: var(--white);
  width: 300px;
  height: 300px;
}

/*Proyecto*/

.proyecto {
  display: flex;
  padding: 2em;
  flex-direction: column;
  justify-content: center;
  background-color: var(--main-green);
}

.proyectoProductivo h1 {
  font-size: 50px;
  text-align: center;
}

.proyectoCard {
  background-color: var(--white);
  padding: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  min-width: 250px;
}

.proyectoCardText {
  margin: 1em;
}

.verProductosBtn {
  background-color: var(--dark-blue);
  color: var(--white);
  font-family: var(--texto);
  font-weight: bold;
  height: 60px;
  max-width: 400px;
  border-radius: 50px;
  font-size: 18px;
  padding: 1em 2em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.proyectoCardImage {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.proyectoImagen {
  width: 200px;
  height: 200px;
  background-color: red;
  margin: 1em;
}
